
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}
.nav__header{
	max-width: 1240px !important;
	margin: auto !important;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	padding: 0 2rem;
	background-color: #fff;
	color: #555;
	border-bottom: 1px solid #c9c8c8;
	/* margin-bottom: 27rem !important; */


	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999; /* set a high z-index to ensure the fixed section is on top of other elements */
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	/* visibility: hidden; */
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		/* visibility: visible; */
		/* opacity: 1; */
	}

	/* header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	} */

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}







/* Inputs */
.input {
    border-radius: 30px;
    border: 1px solid #ccc;
    color: #1b0760;
    font-size: 1.5rem !important;
    outline: 0;
    padding: 1.1rem 2rem !important;
  }
  
  ::placeholder {
    /* color: #cdcbd7; */
	color: #979595;
	letter-spacing: 0 ;
	font-weight: 600;
  }
  
  .input-group {
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
	max-width: 400px;
	margin: auto;
	/* box-shadow: 0 0 30px 20px #e6ebee; */
	/* box-shadow: 0 0 30px 20px #e6ebee; */
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  
  .input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
  }
  
  .input-group .btn {
    margin: 4px;
  }
  
  @media screen and (min-width: 1024px) {
    .input {
      font-size: 1.5rem;
    }
  }
  










  
.btn--accent {
    background: var(--color-accent);
    color: #fff;
  }

  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  /* Buttons */
  .btn {
    border-radius: 40px !important;
    border: 0;
    cursor: pointer;
    font-size: 0.7rem !important;
    font-weight: 600 !important;
    margin:  0.5rem  !important ;
    padding: 0 0.7rem !important;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .btn--accent {
    /* background: #ff3400 !important; */
    /* background: #ff3400!important; */
    background: #d946ef !important;
    color: #fff !important;
  }
  













/*styles */


/*styles */
.nav__account__home{
	transition: all 0.3s ease-out;
	padding: 1rem;
	color: #706e6e !important;
}
.nav__account__home:hover{
	background: #f7f7f7;
	border-radius: 30px;
	padding: 1rem;
	cursor: pointer;
}
.nav__account__home h5{
	font-size: 1.3rem;
	font-weight: 600;
}
.nav__account__world{
	/* transition: all 0.3s linear; */
	padding: 1rem;
}
.nav__account__world:hover{
	background: #f7f7f7;
	border-radius: 30px;
	padding: 1rem;
	cursor: pointer;
}
.nav__header__logo svg{
	font-size: 4rem !important;
	color: #d946ef!important;
}

.nav__header__logo h5{
	font-size: 2.2rem !important;
	font-weight: 800;
	color: #d946ef !important;
}

/*SEARCH */
.nav__header {
	justify-content: center;
}
.nav__header__logo, .nav__account{
	display: none !important;
}

.btn svg{
	font-size: 2rem !important;
}

.nav__account{
	font-size: 1.8rem;
}
.nav__account__world svg{
	font-size: 2rem;
}
.nav__account__body {
	border: 1px solid #bab8b8;
	border-radius: 30px;
}
.nav__account__avatar svg{
	font-size: 3.2rem;
}

@media only screen and (min-width: 320px) {
	.input-group {
	    width: 275px !important;
		margin: auto !important;
	  }
}
@media only screen and (min-width: 350px) {
	.input-group {
	    width: 300px !important;
		margin: auto !important;
	  }
}
@media only screen and (min-width: 370px) {
	.input-group {
	    width: 350px !important;
		margin: auto !important;
	  }
}
@media only screen and (min-width: 768px) {
	.nav__header {
		justify-content: space-between;
	}
	.nav__header__logo, .nav__account{
		display: block !important;
	}
	.input-group {
	    width: 350px;
		margin: auto;
	  }
}