 .footer{
    width: 100% !important;
    background-color: #fff;
    position: fixed;
    bottom: 0;
 }
 .footer__content__header {
    display: flex;
    align-items: center;
    justify-content: center;
 }

  
  .footer__content {
    padding: 10px 20px ;
    color: #7e7d7d;
    width: 100% !important;
    font-weight: 900 !important;
  }
  .footer__content h5{
 
    font-weight: 600 !important;
  }

.footer__icon svg{
    font-size: 2.8rem !important;
    color: #979595;
}


.footer-world svg{
    font-size: 2rem !important;
    margin-right: 0.8rem !important;
    margin-bottom: 0.2rem !important;
}