.first-image {
/* border-radius: 5px; */
}

.house-one{
  margin-top: 7rem;
}

.house__private{
  font-size: 2.5rem;
  font-weight: 700;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.house__reviews, .house__down h5{
  font-weight: 400px !important;
  font-size: 1.5rem;
}

.check{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content:space-between !important ;
}

.house__down svg{
  font-size: 2rem;
  color: #d946ef !important;
}

.house__avatar img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #d946ef;
}

.house__check svg{
  font-size: 2.3rem;
}
.house__check h5{
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
}
.house__check p{
  font-size: 1.5rem;
  font-weight: 500 !important;
}

.house__bed__list{
  margin-bottom: 2rem;
  border-bottom: 1px solid #e6e3e3;
}


.btn-reverse{
  background: #d946ef;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  padding: 1rem 5rem !important;
  border-radius: 30px;
  margin: 3rem;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .house__private{
    font-size: 2.6rem;
   
  }
  
  .house-one{
    margin-top: 12rem;
  }
  .house:nth-of-type(odd) .image-grid{
    display: grid;
    order: 2;
  }
  .house__container, .house__bed__list  {
    display: flex;
    justify-content:space-between !important ;
  
    width: 100%;
  }
  
  .house__container > * {
    width: 100%;
  }
  
  .house__down {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  .check{
    width: 100% !important;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between !important ;
    margin-bottom: 9rem !important;
  }

  .house__body{
    max-width: 140px;
    margin: auto;
  }
  .house__down h5{
    border-bottom: 2px solid #555;
  }
  

  .image-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px / 90px 50px 50px 50px;
    grid-gap: 10px;
   
  }

  .image-grid img{
    object-fit: cover;
    width: 100%;
  }
  
  .first-image {
    grid-column: 1 / 3;
     grid-row: 1/3; 
     width: 500px;
     height: 300px !important;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
  }
 
   .second-image {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  
   
   }
 
   .third-image {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    border-top-right-radius: 20px;
   
   }
   .forth-image {
    grid-column: 3 / 4;
   }
 
   .firth-image {
    border-bottom-right-radius: 20px;
   }
 
.second-image, .third-image, .forth-image, .firth-image {
  max-width: 300px !important;
  margin: auto;
  height: 140px;

}
}



.plans{
  background: #f4f3f3;
  color: #636363;
 
}
.plans h5{
  font-size: 1.4rem;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.plans h1{
  font-size: 3rem !important;
  font-weight: 600 !important;
}
.plans p{
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}



@media only screen and (min-width: 768px) {
  .plans h1{
    font-size: 3.5rem !important;

  }
}