@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html{
  font-size: 62.5%;
}

.container{
  max-width: 1200px !important;
  margin: auto !important;
}

/* *{
  overflow-x: hidden;
  overflow-x: ;
} */

/* For Webkit Browsers */
::-webkit-scrollbar {
  display: none;
}
